{% include "./template.html" %}
<!-- https://getbootstrap.com/docs/5.0/forms/overview/#form-text -->
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <form>
      {% csrf_token %}
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"
          >输入 SQL 查询语句</label
        >
        <input
          class="form-control"
          id="query_cmd"
          name="query_cmd"
          aria-describedby="emailHelp"
        />
      </div>
      <button type="submit" class="btn btn-primary">提交</button>
    </form>
    {{query_cmd}} {%if is_valid %}
    <table class="table">
      <thead>
        <tr>
          {% for heading in headings %}
          <th>{{heading}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for line in values %}
        <tr class="table-success">
          {% for item in line%}
          <td>{{ item }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
  <div class="col-md-2"></div>
</div>

{% include "./scripts.html"%}
