{% include "./template.html" %}
<!-- https://getbootstrap.com/docs/5.0/forms/overview/#form-text -->
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2">{% include "./sidebar.html" %}</div>

  <div class="col-md-6">
    <form>
      {% csrf_token %}
      <div class="mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">输入 SQL 查询语句</span>
          </div>
          <textarea
            class="form-control"
            aria-label="With textarea"
            id="query_cmd"
            name="query_cmd"
          >{{query_cmd | default:''}}</textarea>
          <!-- https://stackoverflow.com/a/4880497/13040423 -->
        </div>
      </div>
      <button type="submit" class="btn btn-primary">提交</button>
    </form>
    {{提示语句}} {%if is_valid %}
    <table class="table">
      <thead>
        <tr>
          {% for heading in headings %}
          <th>{{heading}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for line in values %}
        <tr class="table-success">
          {% for item in line%}
          <td>{{ item }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
  <div class="col-md-3"></div>
</div>

{% include "./scripts.html"%}
