<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">数据库</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="row">
        <!-- https://stackoverflow.com/questions/46565460/how-to-make-a-button-click-redirect-to-another-url-in-django -->
        <div class="col-md-4">
          <button type="button" class="btn btn-success btn-lg">
            <!-- https://htmlcolorcodes.com/zh/jiaocheng/html-lianjie-yanse/ -->
            <a href="/show" style="color: white">查看</a>
          </button>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-success btn-lg">
            <a href="/select" style="color: white">查询</a>
          </button>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-success btn-lg">
            <a href="/modify" style="color: white">修改</a>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
